<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Simon's Descktop/IdeaProjects/LearningTestNG">
        <classes>
            <class name="com.company.FirstTestCase">
                <methods>
                    <include name="setup"/>
                    <include name="login"/>
                    <include name="teardown"/>
                </methods>
            </class>
            <class name="com.company.SecondTestCase">
                <methods>
                    <include name="setup"/>
                    <include name="addCustomer"/>
                    <include name="searchCustomer"/>
                    <include name="teardown"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>